
    /*Guided Experience is not designed to be viewed in portrait mode*/

@media only screen and (orientation:portrait) {

    #container {
        height: 100vw;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .container {
        /*display:none;*/
    }

    #landscapeMessage {
        display: block;
        background-color: yellow;
        padding: 10px 10px;
        margin: 10px;
    }

    #slideInfo, slideInfo2 {
        display:none !important;
    }
}

@media only screen and (orientation:landscape) {
    #container {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
