
@media only screen and (min-device-width : 360px) {
    .vjs-dock-text {
        display: none; /*This hides the text at the top of the window*/
    }

    .main-header {
        height: 75px;
        background-color: #004c91;
    }

    #logo {
        padding: 15px;
    }

    .video-js .vjs-overlay-top-left {
        position: relative;
        width: 60%;
        text-align: left;
        color: black;
        top: 25px;
        left: 80px;
    }

    .fa-2x {
        margin-right: 20px;
        cursor: pointer;
        font-size: 1em;
    }

    .video-js .vjs-overlay-bottom-left {
        width: auto;
        bottom: 1em;
    }

    .video-js .vjs-overlay-background {
        background-color: rgba(0, 0, 0, 0.0);
        padding: 4px;
    }

    .question {
        font-family: 'Adobe Arabic';
        font-size: .9em;
        cursor: default;
    }

    .answer {
        font-family: 'Adobe Arabic';
        font-size: .7em;
        margin-left: 20px;
        cursor: default;
    }

    .navDisabled {
        opacity: .5;
        cursor: not-allowed;
    }

    .video-js .vjs-fullscreen-control {
        display: none;
    }
}

@media only screen and (min-device-width : 640px) {
    .fa-2x {
        margin-right: 20px;
        cursor: pointer;
        font-size: 1.4em;
    }

    .video-js .vjs-overlay-bottom-left {
        width: auto;
        bottom: 3.4em;
    }

    .question {
        font-family: Arial;
        font-size: 1.6em;
        color: #004c91;
        line-height: 1.1;
    }

        .question.clickable {
            cursor: pointer;
        }

    .answer {
        font-family: Arial;
        font-size: 1.5em;
        color: #004c91;
        line-height: 1.2em;
    }

        .answer.clickable {
            cursor: pointer;
        }

        /*.answer:before {
            content: "\f00c";
            font-family: FontAwesome;
            font-size: 18px;
            padding-right: 0.5em;
            color: #337ab7;
        }*/
        .answer:before {
            /*content: url('../image/walmart star.png');*/
            content: url('../image/wmt_spark_18x20.png');
            padding-right: 0.5em;
        }

        .answer.subanswer:before {
            content: "\f00c";
            font-family: FontAwesome;
            font-size: 18px;
            padding-right: 0.5em;
            color: #004c91;
        }

    .navDisabled {
        opacity: .5;
        cursor: not-allowed;
    }

    .video-js .vjs-fullscreen-control {
        display: none;
    }

    #slideInfo {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 1;
        top: 0px;
        bottom: 20px;
        right: 0px;
        background-color: #004c91;
        display: none;
        overflow: auto;
    }

    #slideInfo2 {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 1;
        top: 0px;
        bottom: 20px;
        right: 0px;
        background-color: #004c91;
        display: none;
        overflow: auto;
    }


    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    .slideInfoContent {
        color: white;
    }

    .well {
        margin: 10px;
        background-color: rgba(0,0,0,0);
        color: white;
    }

    div#myPlayerID2Container {
        display: none;
    }
}

@media only screen and (min-device-width : 801px) {


    .video-js .vjs-overlay-bottom-left {
        width: auto;
        bottom: 2.8em;
    }

    .question {
        font-size: 1.7em;
        line-height: 1.2em;
        font-weight: bold;
    }

    .answer {
        font-size: 1.6em;
        margin-left: 20px;
    }

        .answer.subanswer {
            margin-left: 40px;
            font-size: 1.5em;
        }

    .navDisabled {
        opacity: .5;
        cursor: not-allowed;
    }

    .container {
        margin-top: 20px;
    }
}
